# Test de l'application de Django 

- On applique un preprocessing sur le texte (cleaning, tokenisation, to_int ) 
- On entraine le modèle avec un réseau de neuronnes ex :Keras

In [10]:
import json
import requests
import pandas as pd

In [11]:
header = {'Content-Type': 'application/json', \
                  'Accept': 'application/json'}

In [12]:
df = pd.DataFrame()
df['text'] = ["j aime la vie ", "ce film est nul"]

In [13]:
data = df.to_json(orient='records')

In [40]:
resp = requests.post("http://127.0.0.1:8000/api/classification/", \
                    data = json.dumps(data ),\
                    headers= header)

In [41]:
resp.json()

[1, 0]

In [42]:
df['classe'] = resp.json()
df

              text  classe
0   j aime la vie        1
1  ce film est nul       0